.border {
  border: 1px solid black;
}

.main{
    position:relative;
    left:20px;
    top:20px;
}

.inner{
    position:absolute;
}

.inner:hover{
    border: 2px solid red;
    margin-left:-2px;
    margin-top:-2px;
}